<div class="flex flex-col flex-auto md:w-140 md:max-w-140 w-full  relative overflow-auto" [formGroup]="form">
    <mat-form-field>
        <mat-label>Patient</mat-label>
        <mat-select formControlName="patientId" (selectionChange)="onPatientChange($event.value)">
            <mat-option *ngFor="let patient of patients" [value]="patient.id">
                {{ patient.fname + ' ' + patient.lname }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Staff (Doctor)</mat-label>
        <mat-select formControlName="doctorId">
            <mat-option *ngFor="let doctor of staff" [value]="doctor.id">
                {{ doctor.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Appointment Type</mat-label>
        <mat-select formControlName="appointmentType" (selectionChange)="onAppointmentTypeChange($event.value)">
            <mat-option value="In-Person">In-Person</mat-option>
            <mat-option value="Virtual">Virtual</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="flex flex-col max-h-96 overflow-auto mb-5">
        <div class="flex flex-col mb-5 " *ngFor="let slotGroup of availableSlots">
            <h4>{{ slotGroup.date | date: 'EEEE, MMM d' }}</h4>
            <div class="grid grid-cols-5 gap-1">
                <div *ngFor="let slot of slotGroup.slots" class="border rounded-sm py-2 text-center cursor-pointer"
                    [ngClass]="{
                    'bg-blue-300': !slot.isDisabled,
                    'bg-gray-300 text-gray-500 cursor-not-allowed': slot.isDisabled,
                    'bg-blue-600 active text-white': selectedSlots[slotGroup.date.toDateString()]?.startTime === slot.startTime && !slot.isDisabled
                 }" (click)="selectSlot(slot)">
                    {{ slot.startTime }} - {{ slot.endTime }}
                </div>
            </div>
        </div>
    </div>



    <mat-form-field>
        <mat-label>Appointment Reason</mat-label>
        <textarea matInput formControlName="appointmentReason"></textarea>
    </mat-form-field>

    <mat-radio-group formControlName="appointmentFor">
        <mat-radio-button value="self">For Self</mat-radio-button>
        <mat-radio-button value="family">For Family Member</mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="form.get('appointmentFor').value === 'family'" class="mt-4">
        <mat-label>Family Member</mat-label>
        <mat-select formControlName="familyMemberId">
            <mat-option *ngFor="let member of familyMembers" [value]="member.familyMemberId">
                {{ member.fname + ' ' + member.lname }} ({{ member.relationship }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button color="primary" (click)="saveAppointment()">Save Appointment</button>
</div>
