<div class="flex w-full min-w-0 flex-col">
    <!-- Tab Group -->
    <mat-tab-group class="mat-elevation-z2 pt-5" [(selectedIndex)]="selectedPanelIndex"
        (selectedIndexChange)="goToPanel($event)">
        <!-- Loop through panels and create tabs -->
        <mat-tab *ngFor="let panel of panels" label="{{ panel.title }}">
            <ng-template matTabContent>
                <!-- Panel content -->
                <div class="flex-auto px-6 pb-12 pt-9 md:p-8 md:pb-12 lg:p-12">
                    <!-- Panel header -->
                    <div class="flex items-center">
                        <!-- Panel title -->
                        <div class="ml-2 text-3xl font-bold leading-none tracking-tight lg:ml-0">
                            {{ panel.title }}
                        </div>
                    </div>

                    <!-- Load settings panel -->
                    <div class="mt-8">
                        @switch (panel.id) {
                        <!-- Account -->
                        @case ('in-person') {
                        <settings-in-person></settings-in-person>
                        }

                        <!-- Virtual -->
                        @case ('virtual') {
                        <settings-virtual></settings-virtual>
                        }

                        <!-- Security -->
                        @case ('security') {
                        <settings-security></settings-security>
                        }

                        <!-- Security -->
                        @case ('plan-billing') {
                        <settings-plan-billing></settings-plan-billing>
                        }

                        }
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
