<section id="upcoming" class="w-full max-w-screen-xl mx-auto min-h-96">
    <div class="grid md:grid-cols-5 gap-4 w-full min-w-0 flex  items-center justify-center px-6 ">
        <div class="col-span-2">
            <div class="flex flex-auto items-center">
                <div class="flex-0 w-18 h-18 rounded-full overflow-hidden">
            
                    <img class="w-full h-full object-cover rounded-full" *ngIf="data.avatar"
                        [src]="avatar + data.avatar">
                    <div class="w-18 h-18 mr-4 px-1 flex items-center justify-center text-xs font-normal rounded-full border leading-none text-center uppercase"
                        *ngIf="!data.avatar">
                        NO THUMB
                    </div>
                </div>
                <div class="flex flex-col min-w-0 ml-4">

                    <div class="text-xl md:text-xl font-normal tracking-tight leading-7 md:leading-snug truncate">
                        {{data.first_name}} {{data.last_name }}
                    </div>

                    <div class="flex flex-col">
                        <div class="leading-6 truncate text-light text-primary">
                            {{data.dob | date :'dd MMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-span-1">
            <div class="flex flex-col ">
                <div class=" font-normal tracking-tight leading-7 truncate text-secondary">
                    Total Appointments
                </div>

                <div class="flex flex-col ">
                    <div class="leading-6 truncate font-medium ">
                        {{data.bookingsCount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="flex flex-col ">
                <div class=" font-normal tracking-tight leading-7 truncate text-secondary">
                    App Requests
                </div>

                <div class="flex flex-col ">
                    <div class="leading-6 truncate font-medium ">
                        {{data.patientRequests}}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-span-1">
        <div class="flex flex-col ">
            <div class=" font-normal tracking-tight leading-7 truncate text-secondary">
                Rating
            </div>

            <div class="flex  ">
                <div class="leading-6 truncate font-medium flex  justify-center ">
                    <mat-icon svgIcon="heroicons_solid:star"
                        class="text-orange-500 mr-1 icon-size-4 mt-1"></mat-icon>
                    4.5 <span class="text-secondary ml-1 font-normal">(5 Reviews)</span>
                </div>
            </div>
        </div>
    </div> -->
    </div>

    <div
        class="grid md:grid-cols-5 sm:grid-cols-1 md:gap-12 w-full min-w-0 flex  items-center justify-center px-6 mt-6">

        <div class="md:col-span-2">
            <div class="grid gap-4">
                <div>
                    <div class="font-light  text-gray-400 mb-2">Gender:</div>
                    <div class="font-normal text py-3 px-3 bg-gray-100 capitalize rounded">{{data.gender}}</div>
                </div>

                <div>
                    <div class="font-light  text-gray-400 mb-2">City:</div>
                    <div class="font-normal text py-3 px-3 bg-gray-100 capitalize rounded">{{data.city}}</div>
                </div>
            </div>
        </div>

        <div class="md:col-span-3">
            <div class="grid  gap-4">
                <div>
                    <div class="font-light  text-gray-400 mb-2">Age:</div>
                    <div class="font-normal text py-3 px-3 bg-gray-100 capitalize rounded">{{getCurrentAge(data.dob)}}
                    </div>
                </div>

                <div>
                    <div class="font-light  text-gray-400 mb-2">Zip Code :</div>
                    <div class="font-normal text py-3 px-3 bg-gray-100 capitalize rounded">{{data.zip_code}}</div>
                </div>
            </div>
        </div>

        <!-- <div class="flex flex-col">
        <div class="font-normal leading-none text-secondary">Insurance:</div>
        <div class="flex items-center mt-3">
            <img class="w-14 mr-4 " src="assets/images/insurance1.png"
                alt="Card cover image">
            <img class="w-14 " src="assets/images/insurance2.png" alt="Card cover image">
        </div>
    </div> -->
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 px-3">
        <!-- Summary -->
    </div>
</section>