<section id="upcoming" class="w-full max-w-screen-xl mx-auto">

    <div class="flex items-center justify-between w-full py-3 px-2">
        <div>
            <h2 class="text-2xl font-medium tracking-normal leading-8 text-dark">Promotion
            </h2>
        </div>

        <div class="mt-4 sm:mt-0">
            <!-- Upload button -->
            <button mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add Promotion </span>
            </button>
        </div>
    </div>

    <div class="grid grid-cols-1  gap-6 w-full mt-2">

        <div class="flex flex-col flex-auto sm:mb-10 bg-card shadow rounded-sm overflow-hidden sm:overflow-y-auto p-5">
            <div class="overflow-x-auto">
                <ng-container>

                    <div class="grid grid-cols-3 md:grid-cols-4">
                        <div class="filter-article flex w-full flex-col shadow" *ngFor="let item of announcements">
                            <img class="w-full object-cover md:h-full" [src]="
                  item?.announcement_image
                    ? item?.announcement_image
                    : 'images/cards/01-320x200.jpg'" alt="Card cover image" />
                            <div class="m-8">
                                <div class="text-2xl font-semibold leading-tight">
                                    {{item.announcement_title }}
                                </div>
                                <div class=" flex flex-col  mt-1">
                                    <span class="ext-secondary mt-1 text-sm leading-none">{{ item.start_date?.toDate() | date: "medium" }}</span>
                                    <span class="ext-secondary mt-1 text-sm leading-none">{{ item.end_date?.toDate() | date: "medium" }}</span>
                                </div>

                                <div class="mt-4">
                                    {{ item.announcement_desc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>


                <ng-container *ngIf="!loading && announcements.length > 0; else noData">
                </ng-container>

                <ng-template #noData>
                    <div class="flex flex-col flex-auto w-full">
                        <div class="m-auto px-4"> <img class="w-80" [alt]="'transaction thumbnail image'"
                                src="icons/magnifying-glass.svg"></div>

                        <div
                            class="p-8 pt-0 sm:pt-0 sm:p-16 text-2xl font-normal tracking-tight text-center max-w-md align-center m-auto">
                            You don't have any promotions
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>


    </div>


</section>
